%section.category-wrapper
  .container
    .row
      -#.col-md-3.col-sm-3
      -#  .widget
      -#    .widget-header
      -#      %h3= t('labels.all_subjects')
      -#    .widget-body
      -#      %ul.trends
      -#        - @all_subjects.each do |subject|
      -#          %li
      -#            = link_to courses_path(subject: subject.id) do
      -#              = subject.name
      -#              %span.item-numbers= subject.courses.size
      .col-md-12.col-sm-12
        .list-results.providers__list
          .row
            - @all_providers.each do |provider|
              = render 'welcome/provider_preview', provider: provider
