default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: unicode

development:
  <<: *default
  database: edu_dev
  username: username
  password: password

production:
  <<: *default
  database: edu_prod
  username: username
  password: password
