
.box-ads .title {
  border-bottom-color: #27ae60;
}
.box-ads {
  border: 1px solid #E5E5E5;
  position: relative;
  //padding-bottom: 64px;
  background-color: #F7F7F7;
}
.box-ads .description {
  display: block;
  padding: 8px 12px 10px;
  font-size: 15px;
  border-top: 1px dotted #E5E5E5;
  border-bottom: 1px dotted #E5E5E5;
  background-color: #F7F7F7;
}
.box-ads .address {
  display: block;
  padding: 6px 12px;
}
.box-ads .image {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative !important;
}
.box-ads .title {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 3px solid #58b325;
  color: #333;
  font-size: 20px;
  padding: 6px 12px;
  position: absolute !important;
  top: auto;
  right: auto;
  bottom: 3px;
  left: 0;
  z-index: 3;
}
.box-ads .detail {
  min-height: 120px;
  list-style: outside none none;
  margin: 10px 6px;
  padding: 0;
}
.box-ads .detail dt,
.box-ads .detail dd {
  border-bottom: 1px solid #f7f7f7;
  height: 35px;
  padding: 5px 6px 3px;
  font-size: 14px;
}
.box-ads .detail dt {
  float: left;
  font-weight: 400 !important;
}
.box-ads dd {
  float: right;
  width: 35%;
  padding-left: 5px;
}
.box-ads dt {
  width: 64%;
}
.box-ads .detail dd span {
  text-align: right;
  display: block;
  padding: 1px 6px;
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.box-ads .price {
  position: absolute !important;
  top: auto;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 2;
  font-size: 20px;
  height: 42px;
  background-color: #58b325;
  font-weight: 400;
  color: #ffffff;
  padding: 6px 14px 0;
}
.box-ads .price:after {
  position: absolute !important;
  top: -10px;
  right: 50%;
  bottom: auto;
  left: auto;
  z-index: 2;
  content: "";
  margin-right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #58b325;
}
.box-ads .footer {
  clear: both;
  background: none;
  border: none;
}
.box-ads .footer a {
  padding: 2px 6px;
  position: absolute !important;
  top: auto;
  right: 7px;
  bottom: 7px;
  left: auto;
  z-index: 3;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.post-body{
  .detail {
    min-height: 120px;
    list-style: outside none none;
    margin: 10px 6px;
    padding: 0;

    dt, dd {
      border-bottom: 1px solid #f7f7f7;
      height: 35px;
      padding: 5px 6px 3px;
      font-size: 14px;
    }
    dd {
      padding-left: 5px;
    }
    dt {
      float: left;
    }
  }
}
